
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row featurette">
    <div class="col-md-6">
        <br />
        <h1 class="featurette-heading text-primary">Acerca de nosotros</h1>
        <br />
        <br />
        <p class="lead">
            Somos un grupo de jóvenes que decidimos emprender en la venta de productos comestibles.
            Por ello decidimos brindar productos de calidad al precio más cómodos, ofreciéndole al cliente una amplia
            variedad de productos al alcance de su bolsillo y fomentar el consumo de productos peruanos.
        </p>
    </div>
    <div class="col-md-6">
        <img src="~/img/About/nosotros.jpg" class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
</div>
<br />
<hr class="featurette-divider">

<div class="container">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-5 text-center">
            <h2 class="text-primary">Misión</h2>
            <p class="lead">
                Poder llegar a más familias y ampliar nuestro mercado de manera potencial
                y beneficiosa a nuestros clientes con podructos nentamente Peruanos.
            </p>

        </div>
        <div class="col-md-5 text-center">
            <h2 class="text-primary">Visión</h2>
            <p class="lead">
                Ser reconocidos en todo Lima, haciéndonos de renombre con las familias para que
                sigan consumiendo nuestros productos.
            </p>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>


